<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .email-container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(41, 132, 201, 0.2);
        }

        h1 {
            color: #2984C9;
            text-align: center;
        }

        p {
            color: #333;
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 20px;
        }
        
        a {
            color: #fff;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .reset-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #2984C9;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        .reset-button:hover {
            background-color: #2471AB;
        }
    </style>
</head>
<body>
    <div class="email-container">
        <h1>Reset Password</h1>
        <p>Hello [User],</p>
        <p>We received a request to reset your password. If you didn't make this request, you can ignore this email. Otherwise, click the button below to reset your password:</p>
        <div class="button-container">
            <a href="http://localhost:3000/reset-password/<%= userId %>" class="reset-button">Reset Password</a>
        </div>
        <p>If you have any issues, please contact support.</p>
    </div>
</body>
</html>