<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <h1>Enter your new password here</h1>
    <div>
        <form id="resetPasswordForm" method="POST">
            <input type="password" name="new_password" placeholder="New Password" required>
            <input type="password" name="new_password_confirmation" placeholder="Confirm New Password" required>
            <button type="submit">Reset</button>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById("resetPasswordForm");
            const id = window.location.pathname.split('/').pop();

            form.action = `/api/auth/reset-password/${id}`
        });
    </script>
</body>
</html>